@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body,
html {
    height: 100%;
    margin: 0%;
    font-family: 'Poppins', arial;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background.jpg");
    height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    width: auto;
    font-size: 12px;
}

.hero-image button {
    border: 1px #BA331C solid;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    transition-duration: 0.4s;
    width: 80px;
}

.hero-image button a {
    text-decoration: none;
    color: white;
}

.hero-image button :hover {
    background-color: transparent;
    color: black;
}


/*index menu*/

.hero-image container {
    position: absolute;
    margin: 20px;
    width: auto;
    float: left;
    display: inline-block;
    height: 80%;
}

.nav-container {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    margin: 0px auto;
}

.nav-container a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

#home a {
    font-size: xx-large;
}

.nav-container a:hover {
    color: #D58668;
}

#index {
    text-align: center;
}

#explore {
    margin-left: 250px;
}

#phraseHTML {
    margin-left: 130px;
}

#indexmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

#indexmenu a:hover {
    color: #D58668;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.box div {
    display: block;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 0.5em;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 2;
    width: 30%
}

.foto {
    width: 280px;
}

.fotomodel {
    width: 200px;
}


/* menu per le altre 3 pagine*/

#menu #tour-photography,
#menu #model-photography,
#home {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 9px;
}


/*stile per le gallerie di immagini "Model Photography" e "Tour and places"*/

.img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.column1 {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: inline-block;
    width: 100%;
}

.column1 div {
    display: inline-block;
    text-align: left;
    padding: 2px;
    margin: 0.5em;
    box-sizing: border-box;
}

.row1 {
    width: 300px;
    flex-direction: row;
}

.row1 p {
    border-radius: 8px;
    border: solid #BA331C 5px;
    background-color: rgba(236, 167, 120, 0.979);
    margin: 10px;
    padding: 20px;
    font-size: small;
    width: 280px;
}

#myVideo {
    width: 300px;
    height: 180px;
    margin-left: 20px;
}

#myVideo1 {
    width: 350px;
    height: 150px;
}

#narr {
    text-align: center;
    margin-right: 90px;
    margin-bottom: -10px;
    margin-top: 100px;
    font-size: large;
}

button {
    border: 2px #BA331C solid;
    border-radius: 2px;
    background-color: rgba(236, 167, 120, 0.979);
    color: black;
    transition-duration: 0.4s;
    width: 80px;
    margin-left: 30px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(236, 198, 173, 0.999);
    cursor: pointer;
}

#playBtn1 {
    margin-left: 70px;
}

#playBtn {
    margin-left: 90px;
}

ol {
    display: none;
}

#submit {
    background-color: #BA331C;
    color: white;
    margin: 8px;
}

#submit:hover {
    background-color: #D58668;
    color: black;
}
